{% extends "base.html" %}

{% block content %}
<header>
    <h2>Наши контакты</h2>
    <h4>Телефон: +79631074312</h4>
    <h4>E-mail: 3DPrintingService@mail.ru</h4>
    <nav><h4>У нас есть YouTube канал, где вы можете найти обучающие видео по 3D печати и
        моделированию деталей для печати.</h4><a class="navbar-brand"
                                                 href="https://www.youtube.com/channel/UC9fN271rQZFoTTxenD3sn1w?view_as=subscriber">Наш
        канал</a></nav>
    <a href="/title">Главная</a>
</header>
{% endblock %}