{% extends "base.html" %}

{% block content %}
<head>
    <script type="text/javascript">
function show_confirm(item)
{
var r=confirm("Вы точно хотите отменить заказ?");
if (r==true)
  {
  window.location.replace("/delete_order/" + item);
  alert("Мы благодарим Вас за сотрудничество");
  }
}


    </script>
</head>


{% if "username" in session %}
<h2>{{session['username']}}</h2>
{% endif %}
<a href="/upload_file">Добавить заказ</a>
<a href="/title">Главная</a>
{% for item in news %}
<div class="alert alert-dark" role="alert">
    <div>ID Заказа: {{ item[0] }}</div>
    <h2>{{item[1]}}</h2>
    <div>{{item[2]}}</div>
    <div>Дата создания заказа: {{item[3]}}</div>
    <input type="button" onclick="show_confirm({{item[0]}})" value="Отменить заказ">
</div>
{% endfor %}
{% endblock %}