{% extends "base.html" %}

{% block content %}
    <header>
        <h3>О нашей организации</h3>
        <h6>{{text1}}</h6>
        <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="/lab">Наша лаболатория</a></nav>
        <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="order">Оформить заказ</a></nav>
        <nav class="navbar navbar-light bg-light"><a class="navbar-brand" href="contact">Контакты и консультации по 3D печати</a></nav>
    </header>
{% endblock %}
